# Database connection URL for PostgreSQL (Supabase) + PostGIS + Prisma
DATABASE_URL="postgresql://postgres:[YOUR-PASSWORD]@[YOUR-DATABASE-HOST]:5432/postgres"

# Supabase Configurations
SUPABASE_URL="YOUR_SUPABASE_URL"
SUPABASE_ANON_KEY="YOUR_SUPABASE_ANON_KEY"

# OpenWeatherMap API Configuration
WEATHER_API_KEY="YOUR_WEATHER_API_KEY"

# Cloudinary Configurations
CLOUDINARY_CLOUD_NAME="YOUR_CLOUDINARY_CLOUD_NAME"
CLOUDINARY_API_KEY="YOUR_CLOUDINARY_API_KEY"
CLOUDINARY_API_SECRET="YOUR_CLOUDINARY_API_SECRET"

# GitHub Map Server CDN API Configurations
GITHUB_JSON_URL="YOUR_GITHUB_JSON_URL"
GITHUB_BASE_URL="YOUR_GITHUB_BASE_URL"
